@model EReviewer.ViewModels.QuestionViewModels.QuestionAddVM

<div class="form-group">
    <label asp-for="Answer" class="control-label"></label>
    <input asp-for="Answer" class="form-control" />
    <span asp-validation-for="Answer" class="text-danger"></span>
</div>