@model EReviewer.ViewModels.QuestionViewModels.QuestionOptionAddVM

<div class="form-group">
    <div class="row">
        <label class="col-md-3 col-sm-3 control-label">Options</label>
    </div>
    <div class="container col-md-12 col-sm-12">
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" id="description"/>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="IsAnswer" type="checkbox" id="is-answer"/>
            <label asp-for="IsAnswer"></label>
            <span asp-validation-for="IsAnswer" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-default" id="add-option" >Add Option</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Is Answer?</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Options)
                        {
                            <tr>
                                <td>@item.Description</td>
                                <td>@item.IsAnswer.ToString()</td>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@*@await Html.PartialAsync("_OptionsModal")*@